<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rapport-heading">Create or edit a Rapport</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_month">Month</label>
                    <input type="text" class="form-control" name="month" id="field_month"
                           formControlName="month"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_meteo" ngbTooltip="good, ok, bad">Meteo</label>
                    <input type="text" class="form-control" name="meteo" id="field_meteo"
                           formControlName="meteo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_resume">Resume</label>
                    <input type="text" class="form-control" name="resume" id="field_resume"
                           formControlName="resume"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_projet">Projet</label>
                    <select class="form-control" id="field_projet" name="projet" formControlName="projet">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projetOption.id === editForm.get('projet').value?.id ? editForm.get('projet').value : projetOption" *ngFor="let projetOption of projets; trackBy: trackProjetById">{{projetOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_redacteur">Redacteur</label>
                    <select class="form-control" id="field_redacteur" name="redacteur" formControlName="redacteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personneOption.id === editForm.get('redacteur').value?.id ? editForm.get('redacteur').value : personneOption" *ngFor="let personneOption of redacteurs; trackBy: trackPersonneById">{{personneOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
